.comoVender{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.imagemDiv{
    max-width: 19.5%;
    margin: 0px;
    padding: 0px;
}

.comoVender2{
    display: none;
}
.centralV{
    display: none;
}

@media(max-width: 1000px){
    .comoVender{
        display: none;
    }
    .comoVender2{
        display: block;
        width: 100%;
        padding-top: 20px;
    }
    .imgCV{
        display: block;
        width: 100%;
    }
    .imagemDiv{
        max-width: 49%;
    }
    .imgdiv1{
        margin-right: 24%;
        margin-left: 25%;
    }

}
