
.paleta{
    color: white;
    color: rgb(239, 241, 245);
    color: black;
    color: #ff4700;
    color: rgb(207, 49, 228);
    color: #00002ed7;
}
body{
    margin:0%;
    padding: 0%;
}
div{
    margin:0%;
    padding: 0%;
}


/***************INICIO***************/

.inicio{
    width: 100%;
    height: 500px;
    background-color: rgb(239, 241, 245);
}

.iniTxt{
    width: 40%;
    height: auto;
    display: inline-block;
}
.iniImg{
    width: 60%;
    height: auto;
    float: right;
}
.iniH1{
    width: 380px;
    height: 250px;
    margin-top: 125px;
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(90deg, #ff4700, rgb(207, 49, 228));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.imagemINI{
    height: 400px;
    width: auto;
    margin-left: 5%;
    margin-top: 50px;
}
.botINI{
    text-decoration: none;
    color: white;
    font-size: 23px;
    background-color: black;
    padding: 5px 40px 5px 40px;
    border-radius: 14px;
    transition-duration: 1s ;
}
.botINI2{
    text-decoration: none;
    color: white;
    font-size: 23px;
    background-color: black;
    padding: 5px 49px 5px 49px;
    border-radius: 14px;
    transition-duration: 1s ;
}
.botINI2:hover{
    color: #ff4700;
    border: 1px #ff4700 solid;
}
.botINI:hover{
    color: #ff4700;
    border: 1px #ff4700 solid;
}
.iniTxt1{
    float: right;
}

/*Compre seu carro seminovo ***********************************/

.compre{
    width: 100%;
    height: 500px;
    background-color: #00002ed7;
}
.video{
    width: 50%;
    height: 500px;
    display: inline-block;
}
.videoH1{
    margin-top: 50px;
    margin-left: 10%;   
    color: white;
    font-size: 35px;
}
iframe{
    margin-left: 5px;
    width: 450px;
    height: 280px;

}
.textoCompre{
    width: 50%;
    height: 500px;
    float: right;
}
.textoCompreDentro{
    width: 480px;
    height: 220px;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
}
.compreLI{
    font-size: 23px;
    color: white;
}
.textoCompreH1{
    font-size: 35px;
    color: white;
}
.botaoCompra{
    width: 50%;
    padding: 10px 0 10px 0;
    border-radius: 14px;
    color: white;
    background-color: black;
    border: none;
    font-size: 20px;

    transition-duration: 1s;
}
.botaoCompra:hover{
    color: #ff4700;
    border: 1px solid #ff4700;
}

/****************************VENDA*******************************/

.venda{
    width: 100%;
    height: 400px;
    background-color: rgb(239, 241, 245);
    color: black;
}
.vendaEsquerda{
    width: 55%;
    height: 500px;
    display: inline-block;
}
.vendaDireita{
    width: 45%;
    height: 500px;
    float: right;
}
.vendaLI{
    font-size: 23px;
    color: black;
    padding-right: 0px;
}
.vendaCor{
    background-image: linear-gradient(90deg, #ff4700, rgb(207, 49, 228));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.imgVenda{
    width: 90%; 
    margin-top: 40px;
}
.botaoVenda{
    width: 50%;
    padding: 10px 0 10px 0;
    margin-top: 25px;
    border-radius: 14px;
    color: white;
    background-color: black;
    border: none;
    font-size: 20px;

    transition-duration: 1s;
}
.botaoVenda:hover{
    color: #ff4700;
    border: 1px solid #ff4700;
}
@media (max-width: 1300px) {
    .venda{
        height: 600px;
    }
    .vendaEsquerda{
        height: 600px;
    }
}
/******************COMENTARIOS************************************/
.coment{
    color: white;
    background-color: #00002ed7;

}
/***********************PERGUNTAS FREQUENTES*******************/
.perguntas{
    background-color: rgb(239, 241, 245);
    padding-bottom: 30px;
}
.pEsquerda{
    width: 50%;
    display: inline-block;
}
.pDireita{
    width: 50%;
    float: right;
}
.pergunta{
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: #00002ed7 1px solid;
   
    border-right: none;
    border-left: none;
    border-radius: 20px;
    font-size: 10px;
}
.h2perguntas{
    margin: 5px 10px 5px 10px;
    display: none;
}
.pergunta:hover{
    border: #ff4700 1px solid;
}
.pergunta:hover .h2perguntas{
    display: block;
}
.pergunta:hover h1{
    background-image: linear-gradient(90deg, #ff4700, rgb(207, 49, 228));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
@media (max-width: 1300px) {
    .perguntas{
        padding-bottom: 90px;
    }
    
}

/*ENCURTANDO AS COISAS DEVIDO A PIXEL*****************************************/

@media (max-width:1100px) {
    .vendaEsquerda{
        width: 70%;
    }
    .vendaDireita{
        width: 30%;
    }
    .imgVenda{
        width: 90%;
        margin-top: 180px;
    }
    .imagemINI{
        width: 80%;
        height: auto;
    }
}
/*1000 width*/
