
/*
.rodape{
    background-color: #010256;
    display: block;
    padding-left: 40px;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: white;
}
.redesSociais{
    display: inline;
    float: left;
    width: 60px;
    height: auto;
}

.Rimg{
    padding-top: 0px;
    margin-top: 19px;
    width: 30px;
    height: 30px;
}

.opcoes{
    display: inline;
    margin: 50px;
}*/

.rodape{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #010256;
}
.inrodape{
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.rodapetext{
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

.contato{

    text-align: center;
}
/*================================= quem somos*/
.fotosetxt{
    width: 72%; 
    height: auto;
    margin-left:15%; 
    margin-right:13%; 
    display:inline;
}

.fotosquemSomos{
    float: top;
    max-width: 98%;
    margin-top: 0px;
}
.textoquemsomos{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/*=======================         quem somos*/ 
.textoAzul{
    background-color: white;
    padding: 50px;
    color: #010256;
}
.textoBranco{
    background-color: #010256; /* #246fa7 */
    padding: 50px;
    color: White;
}