.wrapper {
    /* A altura deve ser configurada com um valor fixo para o efeito funcionar.
     * 100vh é o tamanho máximo do viewport. */
    height: 100vh;
    /* Desabilitar o efeito x overflow evita que uma barra de rolagem vertical seja adicionada. */
    overflow-x: hidden;
    /* Habilita a rolagem da página. */
    overflow-y: auto;
    /* Configura a perspectiva para 2px. Essa é a distância simulada do viewport para os objetos da página.*/
    perspective: 2px;
  }
  
  .section {
    /* Realiza os ajustes de posicionamento necessários para o elemento. */
    position: relative;
    /* Altura do container. Qualquer valor é válido, desde que algum valor seja configurado. */
    height: 100vh;
  
    /* Formatação do texto. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
  
  .parallax::after {
    /* Exibe e posiciona o pseudo-elemento */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move o pseudo-elemento para longe da camera,
     * faz os ajustes para que ele preencha o viewport e criar o efeito de movimento.
    transform: translateZ(-1px) scale(1.5);
    /* Obriga a imagem de plano de fundo a preencher todo o espaço do elemnto. */
    background-size: 100%;
    /* Impede a imagem de entrar no espaço de outros elemntos. */
    z-index: -1;
  }
  
  /* Formata a div estática. */
  .static {
    background: red;
  }
  
  /*Ajusta a imagem de plano de fundo. */
  .bg1::after {
    background-image: url('https://placekitten.com/g/900/700');
  }
  
  .bg2::after {
    background-image: url('https://placekitten.com/g/800/600');
  }