body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
#corpo-prod{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.produto{
    width: 300px;
    height: 450px;
    background-color: rgb(239, 241, 245);
    display: inline-block;
    margin-bottom: 30px;
    border-bottom-right-radius: 14px;
}
.produto:hover{
    box-shadow: black 4px 4px  10px; 
}
.img{
    width: 100%;
    height: 190px;
}
a{
    margin: 0px 2px 0px 2px;
}
.titulo-prod{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    padding: 5px 0px 5px 10px;
}
.resp-prod{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    text-transform: lowercase;
}
.desconto{
    color: red;
    text-decoration: line-through;
    text-transform: uppercase;
}
.simbolo{
    text-transform: uppercase;
}

@media (max-width:1150px) {
    #corpo-prod{
        margin-left: 30px;
        margin-right: 30px;
        width: calc(100% - 60px);
    }
}
