@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,700&display=swap');
a{
    color: black;
    text-decoration: none;
}
/*HEADER*/
.cab{
    width: 100%;
    height: auto;
    display: block;
    margin: 0px;
    background-color: white;
}
.pcab{
    padding: 2px 0px 2px 0%;
    text-align: center;
    font-size: 20px;
}
.cabHover{
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    color: black;
}
.cabHover:hover{
    border-bottom: 1px #ff4700 solid;
    border-right: 1px #ff4700 solid;
}

/*FOOTER*/

.rodape{
    width: 100%;
    height: auto;
    margin: 0px;
    background-color: black;
    color: white;
}
.h1rodape{
    text-align: center;
    margin: 0px;
    font-size: 15px;
}
.imgrodape{
    width: 40px;
    padding: 0px 10px 0px 10px;
}
.imgCentro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.h1rodape2{
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    padding-bottom:5px ;
}
.arodape1{
    text-decoration: none;
    color:white;
}
.arodape1:hover{
    background-image: linear-gradient(90deg, #ff4700, rgb(207, 49, 228));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.aRodape{
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}
.aRodape:hover{
    background-image: linear-gradient(90deg, #ff4700, rgb(207, 49, 228));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*******************************************************************************************/
#cab-future{
    display: none;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
#opcoes-menu{
    display: none;
    position: absolute;
    font-size: 20px;
    left: 0px;
    padding: 0px 30px 30px;
    height: 180px;
    background-color: white;
}
.menu{
    height: 40px;
}
.parte-esquerda:hover  #opcoes-menu{
    display: block;
}
#p-menu{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.parte-esquerda{
    width: 40px;
}
.parte-direita{
    width: calc(100% - 40px);
}
.h6-cab{
    font-size: 18px;
}
.h6-cab:hover{
    color: #ff4700;
    cursor: pointer;
}
@media (max-width:800px){
    .cab{
        display: none;
    }
    #cab-future{
        display: flex;
        flex-direction: row;
    }
}

