@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,700&display=swap');
.paleta{
    color: white;
    color: rgb(239, 241, 245);
    color: black;
    color: #ff4700;
    color: rgb(207, 49, 228);
    color: #00002ed7;
}
body{
    margin:0%;
    padding: 0%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
div{
    margin:0%;
    padding: 0%;
}
a{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: black;
}
h1{
    margin: 0px;
    padding: 0px;
}

.h1-titulos{
    font-size: 35px;
    color: #ff4700;
}
.h1-valores{
    font-size: 27px;
    color: #ff4700;
    text-align: center;
}
.h3-conteudos{
    font-size: 23px;
    margin: 0px;
    padding: 15px 0px 00px 0px;
}
.h3-resp{
    font-size: 18px;
    margin: 0px;
    padding: 15px 0px 00px 0px;
}
h5{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    color: white;
    text-align: center;
}
h4{
    font-size: 17px;
    color: white;
    padding-left: 20px;
}


.container-cinza{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    display: block;
    background-color: rgb(239, 241, 245);
}
.container-azul{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    display: block;
    background-color: #00002ed7;
}
.divide-em-duas-partes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.esquerda{
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: calc(100% - 50px);
}
.direita{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: calc(100% - 50px);
}
.centraliza{
    margin: auto;
}
#frase-intonacao{
    text-align: center;
    color: #ff4700;
    font-size: 35px ;
}
.btn{
    
    width: 260px;
    height: 30px;
    background-color: black;
    border: 1px black solid;
    border-radius: 14px;
    cursor: pointer;
}
.h1-btn{
    font-size: 20px;
    color: white;
    text-align: center;
}
.abtn{
    margin-left: calc(50% - 130px);
}


/*-------------------------------------------------------------*/
#homemcomchave{
    padding-left: calc(50% - 220px);
}
#mulhercomcelular{
    padding-left: calc(50% - 161px);
}
#carrocupra{
    width: 500px;
    padding-left: calc(50% - 250px);
}
/********************************************************************/
#partes-valores{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}
.bloco-valores{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 33%;
}
.valores{
    width: 150px;
    padding-left: calc(50% - 75px);
}

/**********************************************************/
.pergunta{
    background-color: white;
    border-radius: 14px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#txt-pergunta{
    width: 90%;
}
#resposta-pergunta{
    width: 10%;
}

.btn-p{
    background-color: white;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    width: 100%;

}
#r1{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s1{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
#r2{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s2{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
#r3{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s3{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
#r4{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s4{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
#r5{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s5{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
#r6{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s6{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
#r7{
    display: none;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    padding: 0px;
}
#s7{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}

@media (max-width:1400px) {
    .h1-titulos{
        font-size: 30px;
    }
    .h1-valores{
        font-size: 23px;
    }
    .h3-conteudos{
        font-size: 20px;
    }
    .h3-resp{
        font-size: 15px;
    }
    h5{
        font-size: 12px;
    }
    h4{
        font-size: 13px;
    }
    .container-azul{
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100% - 60px);
    }
    .container-cinza{
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100% - 60px);
    }
    .pergunta{
        width: calc(100% - 60px);
    }
    #homemcomchave{
        width: 300px;
        
    }
    #carrocupra{
        width: 400px;
    }
    #mulhercomcelular{
        width: 300px;
    }
}
@media (max-width:1000px) {
    .h1-titulos{
        font-size: 25px;
    }
    .h1-valores{
        font-size: 20px;
    }
    .h3-conteudos{
        font-size: 17px;
    }
    .h3-resp{
        font-size: 15px;
    }
    h5{
        font-size: 12px;
    }
    h4{
        font-size: 13px;
    }
    .container-azul{
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100% - 60px);
    }
    .container-cinza{
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100% - 60px);
    }
    .pergunta{
        width: calc(100% - 60px);
    }
    #homemcomchave{
        width: 300px;
        
    }
    #carrocupra{
        width: 400px;
    }
    #mulhercomcelular{
        width: 300px;
    }
}
@media (max-width:890px) {
    #carrocupra{
        display: none;
    }
    .nossa-visao{
        display: block;
        width: 100%;
    }
}

@media (max-width:770px) {
    #mulhercomcelular{
        display: none;
    }
    .quem-somos{
        display: block;
        width: 100%;
    }
    .tira-margem{
        padding-left: 0px;
        margin-left: 0px;
    }
    .valores-esquerda{
        padding-left: 0px;
    }
    .valores-direita{
        padding-right: 0px;
    }
}

@media (max-width:720px) {
    #homemcomchave{
        display: none;
    }
    .primeiro-bloco{
        display: block;
        width: 100%;
    }
}

@media (max-width:670px) {
    #partes-valores{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .bloco-valores{
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}




































#resposta{
    display: none;
}